
navspacer {
    background-color:#8c1129;
    background-image:none;
    position:relative;
    color:white;
    font-size:80px;
    text-align:center;
    font-family:'langdon';
    vertical-align:bottom;
}

#joinimg {
    width:100%;
    height:80%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

space {
    display:block;
    width:auto;
    height:25%;
    background-repeat:no-repeat;
    background-size:100% auto;
    background-attachment:fixed;
    

}

joinwrap {
    position: relative; 
}

txtjn {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    z-index:2;
    font-size:70px;
    
}

h4 {
    color:black;
   margin: 0;
  font-family: "bebas neue";
  font-size: 30px;
  text-align: center;
  text-shadow: none;
  max-width: 250px;
}

.page-header {
    font-size:45px;
}

aboutus{
   font-size:15px; 
}

.fa-circle {
    color:rgba(0, 0, 0, 0.9);
}

.fa-university, .fa-trophy, .fa-briefcase, .fa-globe {
    color:#8c1129;
}

h2 {
    color:black;
    font-size:400px;
}

h4 {
    display:inline-block;
}
.navbar-inverse{
    z-index:1000;
}
formsub {
    display:none;
}

#sub {
  color: #fff;
  background-color: #8c1129;
  border-color: #8c1129;
    font-size:20px;
    display:block;
}
.navbar-inverse{
    display:block;
}