p{
    color:black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h3 a {
    color:black;
}

h2,h3,h4{
    font-family:'bebas neue';
    text-shadow:none;
    font-weight:normal;
    text-align:left;
    max-width:none;
    
}
h4 a{
    font-size:20px;
}
.navbar-inverse{
    background:black;
}
.col-md-6 p{
   font-size: 14px; 
text-align: left;
}
.container {
    
}

navspacer {
    display:block;
    width:auto;
    height:500px;
    background-image:url(/images/CSUN_Central_Campus.JPG);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    
}

h1 {
    font-family: 'langdon';
    text-shadow: rgba(0, 0, 0, 0.5) 2px 3px 7px;
    text-shadow: none;
    font-weight:normal;


}


.page-header {
    color:black;
}
body{
    background-color:white;
}
.navbar-inverse{
    display:block;
}


