@font-face {
    font-family: 'Langdon';
    src:url('Langdon.ttf.woff') format('woff'),
        url('Langdon.ttf.svg#Langdon') format('svg'),
        url('Langdon.ttf.eot'),
        url('Langdon.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
font-family: 'Shadows Into Light', cursive;
}
i {
}
