html {
    background:white;
}

footer {
    background-color: rgba(0, 0, 0, .5);
    color:white;
}

scrollingnavbar{
    display:inline-block;
}
mainbar {
    display:block;
    height:auto;
    width:auto;
}

navbartop {
    width:100%;
    height:37px;
    display:block;
}

event {
    display:block;
    z-index:2;
    margin-top:90px;
    margin-left:50px;
    font-size:100;
    position:absolute;
    color:white;
    font-family: langdon;
    text-shadow: 2px 3px 7px rgba(0,0,0,.9);
    text-transform:lowercase;
}



cal {
   display:block;
}



h3 {
    padding-top:10px;
}

copyright {
    padding-top:57px;
}

#wowslider-container3 {
    width: 400px;
    max-height:360px;
    margin-left:50px;
        margin-bottom:40px;
}

events {
    background-size:auto;
    background-repeat:no-repeat;
}

revent img {
    display:block;
}

eventp {
    padding-top:30px;
    padding-left:auto:
    display:block;
}

rldcscroll {
    display:block;
}

#wowslider-container3 {
    
}

noche {
    display:inline-block;
    vertical-align:top;
    background-color:yellow;
    width:50%;
}
