html {
    background:white;
}

footer {
    background-color: rgba(0, 0, 0, .5);
    color:white;
}

scrollingnavbar{
    display:inline-block;
}
mainbar {
    display:block;
    height:auto;
    width:auto;
}

navbartop {
    width:100%;
    height:37px;
    display:block;
}

event {
    display:block;
    z-index:2;
    margin-top:90px;
    margin-left:50px;
    font-size:100;
    position:absolute;
    color:white;
    font-family: langdon;
    text-shadow: 2px 3px 7px rgba(0,0,0,.9);
    text-transform:lowercase;
}



cal {
   display:block;
}



h3 {
    padding-top:10px;
}

copyright {
    padding-top:57px;
}

#wowslider-container3 {
    width: 400px;
    max-height:360px;
    margin-left:50px;
        margin-bottom:40px;
}

event {
    background-size:auto;
    background-repeat:no-repeat;
    height
}

revent img {
    display:block;
}

eventp {
    padding-top:30px;
    padding-left:auto:
    display:block;
}

rldcscroll {
    display:block;
}

#wowslider-container3 {
    
}

noche {
    display:inline-block;
    vertical-align:top;
    width:50.5%;
    height:100%s;
    background: url(/images/space-background.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    font-size:50px;
    color:white;
}

eventgrid {
    background:white;
    width:100%;
    height:102%;
        display:block;
    background: url(/images/space-background.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
}

noche img {
    
}

#ndclogo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}

infondc {
    display:block;
    font-size:25px;
    text-align:center;
    font-family: "bebas neue";
    padding-top:10px;
}

#ndcimg {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

ndcslider {
    display:block;
    height:auto;
}

#seemore {
display:block;
    font-size:35px;
    text-align:right;
    font-family: "bebas neue";
    margin-top:20px;
}
